.student-frame {
    min-height: 100vh;
    position: relative;
    overflow-x: hidden;
}

.student-content {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.page-area {
    margin-left: 250px;
    padding-top: 11vh;
    padding-bottom: 50px;
    flex: 1;
    overflow: auto;
}