.side-bar {
    height: 100%;
    width: 250px;
    background-color: rgba(22, 180, 16, 0.6);
    background-image: url(../assets/images/double-bubble-outline.png);
    background-blend-mode: multiply;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 5;
    display: flex;
    flex-direction: column;
}

.side-bar-items {
    margin-top: 100px;
    flex: 1;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.side-bar-items .row {
    width: 90%;
    height: 20px;
    display: flex;
    flex-direction: row;
    margin: 0;
    color: white;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    gap: 10px;
    padding: 12px 0;
    font-weight: bold;
    border-radius: 15px;
    background-color: rgba(0, 128, 0, 0.6);
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);

}

.row #icon {
    flex: 30%;
    display: grid;
    place-items: center;
}

.row #title {
    flex: 70%;
    text-align: left;
}

.side-bar-items #active {
    background-color: rgba(11, 30, 204, 0.8); 
    }

.row:hover {
    background-color: rgba(11, 63, 32, 0.8);
}

.logout {
    margin-top: auto;
    margin-bottom: 10px;
    background-color: rgb(228, 15, 15);
    font-weight: bold;
    border-radius: 15px;
    width: 90%;
    align-self: center;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
}

.logout .logout-item {
    height: 25px;
    display: flex;
    flex-direction: row;
    margin: 0;
    color: white;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    gap: 10px;
    font-weight: bold;
    padding: 12px 0;
}

.logout #title {
    flex: 70%;
    text-align: left;
}

.logout #icon {
    flex: 30%;
    display: grid;
    place-items: center;
}

.logout:hover {
    background-color: darkred;
}