.top-bar {
    position: fixed;
    width: 100%;
    height: 11vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    padding: 10px 5%;
    box-shadow: 0 4px 10px rgba(0,0,0,0.08);
    z-index: 10;
    overflow: hidden;
    box-sizing: border-box;
}

.logo-area {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    display: flex;
    align-items: center;
    flex: 1;
    min-width: 0;
}

.logo {
    width: 60px;
    height: 60px;
    object-fit: contain;
    cursor: pointer;
}

.title {
    display: inline-block;
    margin-left: 10px;
    font-size: 20px;
    text-decoration: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: rgb(46, 45, 45);
}

.user-info {
    display: flex;
    align-items: center;
    gap: 8px;
}

.user-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
    line-height: 1;
}

.user-icon {
    width: 40px;
    height: 40px;
    border: #333 1px solid;
    border-radius: 50%;
    object-fit: cover;
}

.user-name {
    font-weight: bold;
    margin-bottom: 2px;
}

.user-role {
    font-size: 0.8em;
    color: #666;
    margin-top: 0;
}

.sort-down-icon {
    width: 16px;
    height: 16px;
    margin-left: 6px;
    margin-right: 10px;
    margin-top: 0px;
    align-self: center;
}

.settings-icon {
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.right-section {
    display: flex;
    align-items: center;
    gap: 20px;
    flex: 0 0 auto;
}

@media (max-width: 768px) {
    .title {
        font-size: 20px;
    }
    .logo {
        width: 40px;
        height: 40px;
    }
}